#body-login {
    background-color: rgb(24, 24, 24);
    height: 100vh;
}

#card-login {
    display: flex;
    width: 100%;
    height: 100%;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;

}

#card-hold {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: rgb(31, 31, 31);
    border-radius: 30px;

}

#text-logo {
    max-width: 250px;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-style: italic;
    color: rgb(208, 255, 0);
    font-weight: bold;
    font-size: 50px;
    padding: 0%;
    margin: 5px;
}

#text-log {
    max-width: 250px;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 0%;
    margin: 5px;
}

#imageLogin {
    display: flex;
    margin: 0px;
    height: 100px;
    width: 100px;
    object-fit: contain;
    justify-self: center;
    align-self: center;


}

.input-username {
    display: flex;
    margin: 0px;
    height: 17px;
    width: 250px;
    border-radius: 20px;
    padding: 8px;

    justify-self: center;
    align-self: center;
}

#form-login {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

#button-login {
    border-radius: 20px;
    border: 1px solid transparent;
    height: 38px;
    color: white;
    background-color: black;
}

#text-navi-login {
    cursor: pointer;
    color: rgba(174, 174, 174, 0.8)
}


/* HomePage Styles */
body {
    background-color: rgb(24, 24, 24);
    color: white;
    margin: 0;
    overflow-y: hidden;
}

#home-container {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

#all-notes {
    /* overflow-y: scroll; */
    flex: 0.5;
}

#all-notes h1 {
    padding: 0px;
    /* border: 1px solid yellow; */
    margin-top: 8px;
    margin-left: 16px;
    margin-bottom: 8px;
    /* width: fit-content; */
    text-align: justify;
}

#separator-horizontal {
    /* background-color: green; */
    width: 60%;
    opacity: 0.3;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#separator-vertical {
    height: 100vh;
    padding: 1px;
    background-color: rgba(128, 128, 128, 0.5);
}

#selected-note {
    flex: 0.5;
    /* border: 1px solid red; */
}

#selected-note h1 {
    padding: 0px;
    /* border: 1px solid yellow; */
    margin-top: 8px;
    margin-left: 16px;
    margin-bottom: 8px;
    /* width: fit-content; */
    text-align: justify;
}

#note-cards {
    padding: 16px;
    height: 500px;
    max-height: 100vh; 
    overflow-y: auto;
}

.note-card {
    background-color: rgb(40, 40, 40);
    /* border: 1px solid #ddd; */
    padding: 16px;
    margin-bottom: 12px;
}